<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaniaX</title>
    <link href="./assets/css/index.css" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <nav class="menu">
            <a href="./index.html">
                <img src="./assets/img/mainLogo.jpg" alt="Logo CinemaniaX" class="logo">
            </a>
            <ul class="navMenu">
                <li>
                    <a href="#HOME" class="navLink">HOME</a>
                </li>
                <li>
                    <a href="#" class="navLink">CARTELERA</a>
                </li>
                <li>
                    <a href="#" class="navLink">PRÓXIMAMENTE</a>
                </li>
            </ul>
            <div>
                <a href="#" class="log">Iniciar Sesión</a>
            </div>
        </nav>
    </header>


    <section id="HOME" class="gradient">
        <img src="./assets/img/oppenheimer.png">
    </section>

</body>
</html>